h1 {
    padding-bottom: .4em;
}

h2 {
    padding-bottom: .4em;
}

#main {
    padding-right: 40px;
}

.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.match-list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.match {
    position: relative;
    float: left;
    margin-bottom: 20px;
}

.team {
    border-top: 5px solid;
    border-color: #F0765E;
    margin-bottom: 20px;
    display: inline-block;
}

.winner-team {
    border-color: #ACC86B;
    margin-right: 20px;
}

.match-score {
    background: #FFFFFF;
    width: 56px;
    height: 56px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: calc(50% - 28px);
    border-radius: 100%;
    justify-content: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px #000;
}

.match-score-difference {
    color: #ACC86B;
    position: relative;
}

.user-image {
    display: inline-block;
}

.matchday-header {
    clear: both;
}

.ranking-table>tbody>tr>td {
    padding-left: 10px;
    justify-content: center;
    padding-bottom: 10px;
}

.ranking-score {
    font-size: 18px;
}

.ranking-rank {
    position: relative;
    overflow: hidden;
}

.ranking-rank-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    font-size: 40px;
    top: 0px;
    text-align: center;
    margin: auto;
    background: #76AEC1;
    color: #FFF;
    transition: 0.5s;
    opacity: 0;
}

.ranking-rank:hover .ranking-rank-overlay {
    opacity: 1;
}

.allplayers-table>tbody>tr>td {
    vertical-align: middle;
    font-size: 24px;
    text-decoration: none;
}

.allplayers-table>tbody>tr>td>a {
    text-decoration: none;
}

.allplayers-rank {
    width: 80px;
    height: 80px;
    text-align: center;
}

/* loading animation */

#page {
    display: none;
}

#loading {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
