<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.css" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js">
         </script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script> -->
    {% block scripts %}
    {% endblock %}
    <!-- <script src="/static/forms.js"></script>
         <script src="/static/script.js"></script>
         <link rel="stylesheet" href="/static/style.css"> -->
    <link rel="stylesheet" href="/static/app.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Flaskick</a>
        </div>
        <ul class="nav navbar-nav">
            <!-- <li {{ 'class=active' if 'Reports' in page_title }}>
                 <a href="/reports">Reports</a>
                 </li> -->
            <li>
                <a href="/">History</a>
            </li>
          <!-- <li {{ 'class=active' if page_title in ['customer','address','contact'] }}>
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">
               Customers
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
               <li><a href="/listing/customer">General</a></li>
               <li><a href="/listing/address">Address</a></li>
               <li><a href="/listing/contact">Contact</a></li>
               </ul>
               </li>
               <li {{ 'class=active' if page_title in ['subscription','deliveryAddress','deliveryContact'] }}>
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">
               Subscriptions
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
               <li><a href="/listing/subscription">General</a></li>
               <li><a href="/listing/deliveryAddress">Address</a></li>
               <li><a href="/listing/deliveryContact">Contact</a></li>
               </ul>
               </li>
               <li {{ 'class=active' if 'coupon' in page_title }}>
               <a href="/listing/coupon">Coupons</a>
               </li>
               <li {{ 'class=active' if 'parcel' in page_title }}>
               <a href="/listing/parcel">Parcels</a>
               </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" data-toggle="modal" data-target="#refresh-modal">
              <span class="glyphicon glyphicon-refresh"></span>
              <span id="refresh-stamp"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>

    <div class="modal fade" id="refresh-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Refreshing Backend</h3>
          </div>
          <div class="modal-body">
            <p>Refreshing the backend requires to query all data from Fastbill
              and update the database.
              This can take a several of seconds.
              <strong>The website will not respond in this time.</strong>
              Are you sure?
            </p>
            <hr>
            <h4>Backend Status</h4>
            <div class="well">
              <span id="refresh-status"></span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="refresh-btn">Ok</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    {% block footer %}{% endblock %}
  </body>
</html>
