{% extends "base.html" %}
{% block title %}Flaskick{% endblock %}
{% block content %}
{% for matchday in matchdays %}
<h2 class="matchday-header">{{matchday.date.strftime('%a, %d. %b')}} <small>{{matchday.matches|length}} games</small></h2>

<ul>
    <div class="match-list">

        {% for match in matchday.matches | reverse %}
        <li class="match">
            <div class="team winner-team">
                <span class="team-member" title="{{match.team1.player1.name}}">
                    <a href="/player/{{match.team1.player1.id}}">
                        <img class="user-image" src="/player/{{match.team1.player1.id}}/avatar"/>
                    </a>
                </span>
                <span class="team-member" title="{{match.team1.player2.name}}">
                    <a href="/player/{{match.team1.player2.id}}">
                        <img class="user-image" src="/player/{{match.team1.player2.id}}/avatar"/>
                    </a>
                </span>
            </div>

            <div class="match-score">
                {{match.goals_team1}}:{{match.goals_team2}}
                <div class="match-score-difference">
                +{{match.points}}
                    {% if match.crawling %}
                    <span class="badge">Crawling!</span>
                    {% endif %}
                </div>
            </div>

            <div class="team">
                <span class="team-member" title="{{match.team2.player1.name}}">
                    <a href="/player/{{match.team2.player1.id}}">
                        <img class="user-image" src="/player/{{match.team2.player1.id}}/avatar"/>
                    </a>
                </span>
                <span class="team-member" title="{{match.team2.player2.name}}">
                    <a href="/player/{{match.team2.player2.id}}">
                        <img class="user-image" src="/player/{{match.team2.player2.id}}/avatar"/>
                    </a>
                </span>
            </div>
        </li>
        {% endfor %}
    </div>

</ul>


{% endfor %}
{% endblock %}
